<h1>Create a new Question</h1>

<% if @question.errors.any? %>
  <p><strong>Error!</strong> <%= @question.errors.full_messages.to_sentence %></p>
<% end %>

<%= bootstrap_form_for @question do |f| %>
  <%= f.text_field :title %>
  <%= f.text_area :description %>
  <button class="btn">Save</button>
<% end %>
<br>
<ul class="answer-list">
  <% @questions.each do |question| %>
    <li>
      <%= link_to question.title, question %>
      <% if question.description %>
        <ul class="answer-description">
          <li><%= question.description %></li>
        </ul>
      <% end %>
    </li>
  <% end %>
</ul>