<h1><%= @question.title %></h1>
<p><%= @question.description %></p>
<br>
<p>Submitted by: <%= @question.user.email %></p>
<br>

<br>
<%= bootstrap_form_for @new_answer do |f| %>
  <%= f.text_area :description, label: "Submit an Answer" %>
  <%= f.hidden_field :question_id %>
  <button class="btn">Submit</button>
<% end %>
<br>
<ul>

<% @answers.each do |answer| %>
<% if answer.user %>
  <li><%= answer.description %>
    <br><p>Submitted by: <%= answer.user.email %></p></li>
  <% end %>
<% end %>
</ul>